body {
  font-family: "Times New Roman";
  font-weight: bold;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title {
  text-align: center;
  font-size: 45px;
}
main {
  width: 700px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
div {
  height: 400px;
  width: 300px;
  margin: 20px;
  border: 5px solid white;
  position: relative;
  /* align-items: center; */
}
div:nth-child(1) {
  background-color: tomato;
}
div:nth-child(2) {
  background-color: teal;
}
div:nth-child(3) {
  background-color: burlywood;
}
div:nth-child(4) {
  background-color: thistle;
}
#colorcode {
  height: 100px;
  width: 290px;
  background-color: white;
  position: absolute;
  margin-top: 30px;
  margin-left: 0;
}
