body {
  font-family: "Times New Roman";
  font-weight: bold;
  background-color: whitesmoke;
}
#title {
  text-align: center;
  font-size: 45px;
}
main {
  min-height: 100%;
  display: flex;
  width: 700px;
  height: 900px;
  flex-wrap: wrap;
  justify-content: space-around;
}
div {
  height: 400px;
  width: 300px;
  border: 5px solid white;
  margin: 20px;
  flex-basis: 50%;

}
div:nth-child(1) {
  background-color: tomato;
}
div:nth-child(2) {
  background-color: teal;
}
div:nth-child(3) {
  background-color: burlywood;
}
div:nth-child(4) {
  background-color: thistle;
}
#colorcode {
  height: 100px;
  width: 290px;
  background-color: white;
  margin-left: 0;
}
