/* 노란 배경의 header, 그림자가 있는 search, main.
main은 Book of the day, Top Adventures, Popular authors.
Book of the day는 cover, informations.
information는 … 이런 식으로 큰 것에서 작은 것 순으로 작업해보세요.
Search 파트의 그림자
그림자를 구현하는 방법은 다양합니다.
box-shadow에 대해 알아보세요.
Top Adventures 파트
해당 파트엔 레이아웃의 최대 width를 넘는 컨텐츠들이 존재합니다.
over된 부분은 스크롤할 수 있도록 만들 수 있습니다.
overflow-x에 대해 알아보세요. */
@import "reset.css";
* {
  box-sizing: border-box;
}
.library-header {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  margin: 50px 0px;
}
.library-header i,h1 {
  width: 33%;
  display: flex;
  justify-content: center; 
  font-weight: bold;
}