div, input{
    box-sizing: border-box;
}
.form-black{
    background-color: gray;
    padding: 30px;
    width: 70%;
    height: 70%;
    margin: auto;
}
.form-white{
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}
.form-input{
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}
.w-50{
    width: 50%;
    float: left;
    padding: 10px;
}
.w-100{
    padding: 10px;
}
.yellow-button{
    display: block;
    margin-left: auto;
    padding: 10px;
    width: 100px;
    background-color: #ffd400;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
